.map-container {
  width: 80vh;
  height: 80vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  margin: 0 auto;
}

.map-container .grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  position: absolute;
  transform-origin: 0 0;
  background-color: #e0e0e0;
}

::ng-deep .grid-cell {
  border: 1px solid #000000;
  background-color: #e0e0e0;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s;
}

::ng-deep .grid-cell:hover {
  background-color: #a4ffa4;
}

/*::ng-deep .village-cell {*/
/*  background-color: #800080; !* Fialová barva *!*/
/*}*/

.info-window {
  position: absolute;
  /*display: none;*/
  background-color: white;
  border: 1px solid #000;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  pointer-events: none; /* Zabrání rušení událostí myší */
  transition: opacity 0.2s;
}
